.header {
    position: relative;
    padding-bottom: 25px;

    &__wrapper {
        padding-top: 41px;
        // position: absolute;
        background-image: url(/img/bg.png);
        background-repeat: round;
        width: 100%;
       
    }

    svg {
        margin: 0 auto 381px auto;
        display: block;
    }

    h1 {

        color: white;
        font-family: 'BebasNeueBold';
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        padding-bottom: 21px;

    }

    p.middle {

        min-width: 386px;
        position: relative;
        color: white;
        font-family: 'Open Sans';
        font-size: 22px;
        font-weight: 600;
        line-height: 22px;
        text-align: center;
        padding-bottom: 221px;


    }

    p.down {
        bottom: 0;
        color: white;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 600;
        line-height: 15px;
        text-align: center;
        padding-bottom: 71px;
        letter-spacing: 3.7px
    }
}